/* --------------- */
/* General styling */
/* --------------- */
.flexColumn {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
.flexRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 90vw;
  padding-left: 5vw;
  padding-right: 5vw;
  align-items: center;
}
/* ----------------------- */
/* Landing Page styling */
/* ----------------------- */
.Landing {
  background-color: #ffc8dd;
  height: 85vh;
  padding-top: 15vh;
  color: #ffffff;
}
.nameTitle {
  font-size: 70px;
  margin-bottom: 20px;
}
.landingCircleImg {
  height: 190px;
  width: auto;
  border-radius: 50%; 
}
@keyframes bouncing {
  0% {bottom: 0;}
  50% {bottom: 20px;}
  100% {bottom: 0;}
}
.flexItemArrowDiv {
  align-self: center;
  margin-top: auto;
}
.arrow {
  animation: bouncing 1s infinite ease-in-out;
  bottom: 0;
  display: block;
  height: 90px;
  position: relative;
  width: 90px;
}

/* --------------------- */
/* Image Display styling */
/* --------------------- */
.ImageDisplay {
  background-color: #e7c6ff;
  height: auto;
  padding-top: 5vh;
  padding-bottom: 5vh;
  color: #ffffff;
}
.image {
  width: 25vw;
  height: auto;
}
.flexItemImage {
  flex-grow: 1;
  width: 25vw;
  margin-top: 20px;
}
/* ------------------- */
/* Media Query styling */
/* ------------------- */
@media (max-width: 900px) {

  /* landing styling */
  .Landing {
    background-color: #ffc8dd;
    height: 85vh;
    padding-top: 15vh;
    padding-left: 2vw;
    padding-right: 2vw;
    color: #ffffff;
  }
  .nameTitle {
    font-size: 40px;
    margin-bottom: 20px;
  }
  .landingText {
    font-size: 12px;
  }
  .landingText2 {
    font-size: 15px;
  }
  /* Image display styling */
  .image {
    width: 90vw;
    height: auto;
  }
  .flexItemImage {
    flex-grow: 1;
    width: 90vw;
    margin-top: 20px;
  }
}